.navbar {
    background-color:#0071b3;
    padding:10px;
}
.navbar ul {
    list-style:none;
    padding:0;
    display:flex;
}
.navbar li {
    margin-right:20px;
}
.wtext {
    color: #ffffff;
}
.navbar a {
    text-decoration: none;
    opacity: 1;
    color:#000000;
}
.g {
    color: #868686
}
.container {
    overflow: hidden;
}
.div-left {
    float: left;
}  
.div-right {
    float: right;
}
.cont {
    text-align: center;
}
.rootdiv {
    margin: 32px;
}